<div class="">
  {% assign portfolios = site.categories.portfolio | where: "show_on_home", true | sort: "date" | reverse | spread %}

  <div class="portfolio-carousel">
    {% for post in portfolios %}
      <img src="{{ post.carousel_image | relative_url }}" alt="{{ post.title }}" data-href="{{ post.url | relative_url }}"/>
    {% endfor %}
  </div>
</div>

<script>
  window.addEventListener("DOMContentLoaded", function () {
    var carousel = document.querySelector(".portfolio-carousel");

    new Flickity(carousel, {
      wrapAround: true,
      imagesLoaded: true,
      on: {
        staticClick: function (event, pointer, cellElement, cellIndex) {
          var href = cellElement.getAttribute("data-href");
          document.location = href;
        }
      }
    });
  });
</script>