<header
  class="inline-flex items-center justify-center w-full h-16 font-bold bg-green-100 border-t-2 border-b-2 border-green-400"
>
  <div id="ticker">
    <span class="relative flex items-baseline">
      <div id="text-wrapper">
        <span class="absolute h-[92%] border border-green-600 line"></span>
        <span class="letters"></span>
      </div>
    </span>
  </div>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>
  animateTicker({{ include.ticker | jsonify }});

  async function animateTicker(tickerValues) {
    await tickerValues.reduce((prev, curr) =>  prev.then(_ => tick(curr)), Promise.resolve());
    animateTicker(tickerValues);
  }

  function tick({ label, duration, extraClasses }) {
    return new Promise((resolve) => {
      // Wrap every letter in a span
      document.querySelector("#ticker .letters").innerHTML = label
        .split("")
        .map((letter) => `<span class="letter">${letter}</span>`)
        .join("");

      // If any classes are defined, add them to the text-wrapper
      if (extraClasses) {
        document.querySelector("#ticker #text-wrapper").setAttribute("class", extraClasses.join(" "));
      }

      // Define the animation timeline, and return the promise when it is complete
      anime
        .timeline()
        .add({
          targets: "#ticker .line",
          scaleY: [0, 1],
          opacity: [0.5, 1],
          easing: "easeOutExpo",
          duration: 700,
        })
        .add({
          targets: "#ticker .line",
          translateX: [
            0,
            document.querySelector("#ticker .letters").getBoundingClientRect()
              .width + 10,
          ],
          easing: "easeOutExpo",
          duration: 700,
          delay: 100,
        })
        .add({
          targets: "#ticker .letter",
          opacity: [0, 1],
          easing: "easeOutExpo",
          duration: 600,
          offset: "-=775",
          delay: (el, i) => 34 * (i + 1),
        })
        .add({
          targets: "#ticker .line",
          opacity: 0,
          duration: 600,
          easing: "easeOutExpo",
          delay: 0,
        })
        .add({
          targets: "#ticker .letter",
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: duration,
          complete: (_) => resolve(),
        });
    });
  }
</script>
