<!DOCTYPE html>
<html class="min-h-full min-w-[250px]">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>{{ page.title }}</title>
    <link href="https://unpkg.com/smartphoto@1.1.0/css/smartphoto.min.css" rel="stylesheet"/>

    <link href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet"/>
    <link href="{{ "/assets/css/tailwind.css" | relative_url }}" rel="stylesheet"/>
    <link href="{{ "/assets/css/native.css" | relative_url }}" rel="stylesheet"/>
    <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet"/>

    {% seo %}
  </head>

  <body class="max-w-screen-xl mx-auto bg-lightgray overscroll-y-none">
    {{ content }}
  </body>

  <script src="https://unpkg.com/smartphoto@1.1.0/js/smartphoto.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</html>
