---
layout: content
date_format: "Project started in %Y"
---

<div class="flex justify-between mt-2 text-sm">
  {% if page.previous_in_category %}
    <a class="text-orange" href="{{page.previous_in_category.url | relative_url }}">&laquo; Prev</a>
  {% else %}
    <div></div>
  {% endif %}
  {% if page.next_in_category %}
    <a class="text-orange" href="{{page.next_in_category.url | relative_url }}">Next &raquo;</a>
  {% else %}
    <div></div>
  {% endif %}
</div>

{% if page.images %}
  <div class="flex flex-wrap justify-center gap-4 my-10">
    {% for image in page.images %}
      {% if image.large %}
        <a href="{{ image.large | relative_url }}" data-group="portfolio" class="js-smart-photo"><img src="{{ image.thumb | relative_url }}"/></a>
      {% else %}
        <img src="{{ image.thumb | relative_url }}"/>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<hr class="border-darkgray"/>

<article class="my-8 prose-sm prose text-green-700 sm:prose">
  {{ content }}
</article>


<script>
  window.addEventListener("DOMContentLoaded", function () {
    new SmartPhoto(".js-smart-photo");
  });
</script>